* {
  margin: 0;
  padding: 0;
}

#parent {
  background-color: #ccc;
  padding: 1rem;
  height: 400px;
  display: flex;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column; */

  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: safe; */
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: last baseline; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  flex-wrap: nowrap;
}

.box {
  height: 100px;
  border: 2px solid black;
}

.b1 {
  width: 400px;
  background-color: tan;
}
.b2 {
  width: 400px;

  background-color: teal;
}
.b3 {
  width: 400px;

  background-color: peru;
}
