@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.menu-item,
.cart-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

button {
  font-size: 14px;
}
h1 {
  color: #4caf50;
}

h2 {
  color: #333;
}
.card {
  position: fixed;
  height: auto;
  min-height: 470px;
  width: 267px;
  right: 20px;
  bottom: 20px;
}
.container {
  display: flex;
  width: 100%;
}
.menu {
  width: 100%;
}
.total-amount {
  position: absolute;
  bottom: 50px;
}
.place-order-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.image {
  width: 250px;
  height: auto;
  height: 150px;
  object-fit: cover;
}

.menu-items {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  margin: 10px;
  width: 270px;
  padding: 10px;
}
.itemName {
  font-size: 14px;
  margin: 0;
}

.itemDescription {
  font-size: 12px;
  margin: 0;
}
h2 {
  background: beige;
  padding: 0px 10px;
  font-family: fantasy;
}

#cartItems {
  padding: 5px;
  overflow-y: scroll;
  height: 340px;
  scrollbar-width: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: transform 0.2s;
}

.cart-item h6 {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.cart-item .btn-danger:hover {
  background-color: #cc1f1a;
}

.cardImage {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 17.5px;
}
.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 30%;
}
